body{
    margin: 0;
    --color-primario: #8DA288;
    --color-secundario: #475045;
    --color-texto-primario: #2A2F29;
    --color-texto-secundario: #DFE4DD; 
    --color-beige: #C0BBA7;
    --color-white: #ffff;
    --color-contraste-2: #000000;
    --gris-oscuro: rgb(40, 37, 37);
    --gris-claro:#9c9c9c;
    background-color: var(--color-contraste-2);
    box-sizing: border-box;
    max-height: 180vh;
    color: var(--color-white);
    background-color: var(--color-white);
    padding-bottom: 50px;
}
body::-webkit-scrollbar{
    width: 1px;
    display: none;
}
main{
    padding-bottom: 12px;
}
.portada{
    position: relative;
    width: 100%;
    aspect-ratio: 5.5/2.8;
}
.portada .contenedor-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    border-radius: 0 0 8px 8px;
}
.portada .contenedor-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 8px 8px;
    filter: brightness(.7);
}
.portada .text{
    position: absolute;
    bottom: 9vw;
    left: 4vw;
}
.portada .text h1{
    margin: 0;
    font-size: clamp(35px, 8vw, 70px);
    text-shadow: 2px 8px 17px rgba(255, 255, 255, 0.29);
}
.portada .text p{
    margin: 6px 0 0 6px;
    font-size: clamp(20px, 6.1vw, 50px);
    opacity: .7;

}
.portada .tof{
    position: absolute;
    margin: auto;
    width: max-content;
    right: 0;
    left: 0;
    background-color: var(--color-beige);
    padding: 6px 24px;
    border-radius: 8px;
}
.portada .tof p{
    text-align: center;
    margin: 0;
    font-size: clamp(12px, 4.3vw, 40px);
    color: var(--color-white);
}
.portada .rating{
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.portada .rating div{
    display: flex;
}
.portada .rating div .estrella{
    width: 5vw;
    height: 5vw;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.portada .rating div .media-estrella{
    width: 5vw;
    height: 5vw;
    background: rgb(71,80,69);
    background: linear-gradient(90deg, rgb(255, 255, 255, 0.8) 0%, rgb(255, 255, 255, 0.8) 49%, rgba(2, 2, 2, 0) 50%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.description{
    margin: 0 8px;
}
.description p{
    color: #000;
    margin: 6vw 0;
    font-size: clamp(12px, 4.3vw, 40px);
}
.carrousel-restaurante{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.carrousel-restaurante .contenedor-general{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8px;
}
.carrousel-restaurante .contenedor-scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 0px;
    margin: 8px 0px;
}
.carrousel-restaurante .contenedor-scroll::-webkit-scrollbar{
    display: none;
}
.carrousel-restaurante .contenedor-scroll:hover > :not(:hover){
    transition: .4s;
    filter: brightness(.8);
}
.carrousel-restaurante .div-imagenes-scroll{
    box-sizing: border-box;
    min-width: calc(50% - 4px);
    max-width: calc(50% - 4px);
    margin-right: 8px;
    margin-bottom: 0;
    aspect-ratio: 6/4.6;
    border-radius: 6px;
}
.carrousel-restaurante .div-imagenes-scroll:last-child{
    margin-right: 0;
}
.carrousel-restaurante .div-imagenes-scroll img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.carrousel-restaurante .menu{
    border: none;
    padding: 8px;
    width: 100%;
    background-color: var(--color-beige);
    border-radius: 6px;
    padding-bottom: calc(8px + 1vw);
}
.carrousel-restaurante .menu a{
    color: var(--color-white);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-underline-offset: 1vw;
    font-size: clamp(12px, 4.3vw, 40px);
}
/* --------------------- img seleccionada con js */
.carrousel-restaurante-div-fondo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000007d;
    backdrop-filter: blur(4px) opacity(70%);
    z-index: 100;
}
.carrousel-restaurante-div-fondo .btn-back{
    border: none;
    width: 36px;
    height: 36px;
    position: fixed;
    z-index: 150;
    top: 12px;
    left: 12px;
    border-radius: 120px;
    padding: 4px;
    background-color: transparent;
    filter: invert(1);
}
.carrousel-restaurante-div-fondo .btn-back img{
    width: 100%;
}
.carrousel-restaurante-div-fondo .prev{
    margin: 12px;
    width: 30px;
    filter: invert(1);
}
.carrousel-restaurante-div-fondo .sig{
    margin: 12px;
    width: 30px;
    filter: invert(1);
}
.carrousel-restaurante-div-fondo .imgSelec{
    flex-grow: 1;
    object-fit: cover;
    min-width: 30px;
    max-width: 720px;
    max-height: 90%;
    aspect-ratio: 3/2;
}
.carrousel-restaurante-div-fondo .imagenes{
    width: max-content;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 60px;
    background-color: var(--color-beige);
    border: none ;
    padding: 8px 16px;
    border-radius: 6px;
}
.carrousel-restaurante-div-fondo .imagenes a{
    font-size: clamp(12px, 4.3vw, 30px);
    color: var(--color-white);
    text-decoration: none;

}
.extra-info{
    width: calc(100% -16px);
    margin: 0 8px;
}
.extra-info .subtitulo{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: calc(8px + .5vw) 0 ;
    background-color: var(--color-beige);
    border-radius: 6px;
    margin: 4px 0;
}
.extra-info .subtitulo h2{
    font-weight: 100;
    text-align: center;
    margin: 0;
    font-size: clamp(12px, 4.3vw, 40px);
}
.extra-info .horarios{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.extra-info .horarios p{
    align-content: center;
    font-size: clamp(12px, 4.3vw, 40px);
    margin: 0;
}
.extra-info .horarios .dia{
    padding: 12px 6vw;
    background-color: var(--color-beige);
    color: var(--color-white);
}
.extra-info .horarios .dia:first-child{
    border-radius: 6px 6px 0 0;
}
.extra-info .horarios .dia:nth-child(13){
    border-radius: 0 0 12px 12px;
}
.extra-info .horarios .hora{
    color: #000;
    text-align: center;
}
.reservar{
    position: fixed;
    width: calc(100% - 12px);
    background-color: var(--color-white);
    bottom: 0;
    margin: 0;
    padding: 6px;
}
.reservar a button{
    width: 100%;
    background-color: var(--color-beige);
    border: none;
    font-size: clamp(17px, 4.7vw, 40px);
    padding: calc(12px + .5vw) 0 ;
    border-radius: 6px;
    color: #000000ad;
}