*::selection{
    background-color: #dfe4dd27;
    color: var(--color-texto-primario);
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    --color-primario: #8DA288;
    --color-secundario: #475045;
    --color-texto-primario: #2A2F29;
    --color-texto-secundario: #DFE4DD; 
    --color-terciario--beige: #C0BBA7;
    --gris-oscuro: rgb(40, 37, 37);
    --gris-claro:#9c9c9c;
    
}
.formulario-pag{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secundario);
}
.div-titulo-general{
    margin-top: 12px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%); 
    height: 50%;
}
.borde{ 
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%); 
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.div-titulo-principal{
    margin: 0;
    border-top: 21;
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%); 
    background-color: var(--color-secundario);
    width: 99.5%;
    height: 100%;
}
.div-titulo-principal h2{
    margin:0px;
    margin-left: 16px;
    margin-right: 90px;
    color: #ffffff;
    text-shadow: 6px 4px 9px rgba(255, 255, 255, 0.201); ;
    font-size: clamp(40px, 5vw, 80px);
    padding-top: 16px;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 650px;
    height: 350px;
    max-height: 400px;
}
.formulario form .cont-preguntas{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}
.formulario form .cont-preguntas::-webkit-scrollbar{
    display: none;
}
.formulario form .cont-preguntas .contenedor-dato{
    margin: 12px;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 30px;
}
.formulario form .cont-preguntas .contenedor-dato label{
    margin:-10px 0 0 15px;
    background-color: var(--color-secundario);
    color: #ffffff;
    position: absolute;
}
.formulario form .cont-preguntas .contenedor-dato input, .formulario form .cont-preguntas .contenedor-dato textarea, .formulario form .cont-preguntas .contenedor-dato select{
    box-sizing: border-box;
    padding: 8px 12px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: sans-serif;
}
.formulario form .cont-preguntas .contenedor-dato textarea{
    min-width: 100%;
    resize: none;
}
.formulario form .cont-preguntas .contenedor-dato input:focus{
    outline: none;
}
.formulario form .cont-preguntas .contenedor-dato input::placeholder{
    color: #ffffff71;
}
.formulario form .cont-preguntas .contenedor-dato textarea:focus{
    outline: none;
}
.formulario form .cont-preguntas .contenedor-dato textarea::placeholder{
    color: #ffffff71;
}
.formulario form .cont-preguntas .contenedor-dato select:focus{
    outline: none;
}
.formulario form .cont-preguntas .contenedor-dato select::placeholder{
    color: #ffffff71;
}
.formulario form .cont-preguntas .contenedor-dato.comentarios{
    border-radius: 25px;
    height: 31.33px;
}
.formulario form .cont-preguntas .contenedor-dato.comentarios input{
    max-height: 80px;
    text-wrap: wrap;
}
.formulario form .cont-preguntas .contenedor-dato select{
    width: 97%;
}
.formulario form .cont-preguntas .contenedor-dato option{
    background-color: var(--color-secundario);
}
.formulario form .cont-preguntas .contenedor-dato.fecha input::-webkit-calendar-picker-indicator{
    transform: scale(1.5);
    filter: invert(1);
}
.formulario form .reservar{
    flex-grow: 1;
    position: relative;
    margin: 12px;
    border-radius: 30px;
    box-shadow: 20px 20px 20px -14px rgba(255, 255, 255, 0.557);
    -webkit-box-shadow: 20px 20px 20px -14px rgba(255, 255, 255, 0.557);
    -moz-box-shadow: 20px 20px 20px -14px rgba(255, 255, 255, 0.557); 
}
.formulario form .reservar input{
    padding: 12px;
    border: none;
    background-color: #ffffffd1;
    border-radius: 30px;
    width: 100%;

}